.container-Mhi6f {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.3rem;
}
.container-Mhi6f .content-QtLp1 {
  height: 0;
  flex: 1;
  background-color: white;
  margin: 0.2rem;
  border-radius: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
}
.container-Mhi6f .content-QtLp1 .progress-Ss8_G {
  flex: 1;
  text-align: center;
  margin: 1rem auto;
}

