:root {
  --adm-radius-s: 0.04rem;
  --adm-radius-m: 0.08rem;
  --adm-radius-l: 0.12rem;
  --adm-font-size-1: 0.09rem;
  --adm-font-size-2: 0.1rem;
  --adm-font-size-3: 0.11rem;
  --adm-font-size-4: 0.12rem;
  --adm-font-size-5: 0.13rem;
  --adm-font-size-6: 0.14rem;
  --adm-font-size-7: 0.15rem;
  --adm-font-size-8: 0.16rem;
  --adm-font-size-9: 0.17rem;
  --adm-font-size-10: 0.18rem;
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-background: #ffffff;
  --adm-color-white: #ffffff;
  --adm-color-box: #f5f5f5;
  --adm-color-text-light-solid: var(--adm-color-white);
  --adm-color-text-dark-solid: #000000;
  --adm-color-fill-content: var(--adm-color-box);
  --adm-font-size-main: var(--adm-font-size-5);
  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --adm-border-color: var(--adm-color-border);
}
html[data-prefers-color-scheme='dark'] {
  --adm-color-primary: #3086ff;
  --adm-color-success: #34b368;
  --adm-color-warning: #ffa930;
  --adm-color-danger: #ff4a58;
  --adm-color-text: #e6e6e6;
  --adm-color-text-secondary: #b3b3b3;
  --adm-color-weak: #808080;
  --adm-color-light: #4d4d4d;
  --adm-color-border: #2b2b2b;
  --adm-color-box: #0a0a0a;
  --adm-color-background: #1a1a1a;
  --adm-border-color: var(--adm-color-border);
}
:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: var(--adm-color-text);
  font-size: var(--adm-font-size-main);
  font-family: var(--adm-font-family);
}
a,
button {
  cursor: pointer;
}
a {
  color: var(--adm-color-primary);
  transition: opacity ease-in-out 0.2s;
}
a:active {
  opacity: 0.8;
}
.adm-plain-anchor {
  color: unset;
  transition: none;
}
.adm-plain-anchor:active {
  opacity: unset;
}
body.adm-overflow-hidden {
  overflow: hidden !important;
}
div.adm-px-tester {
  --size: 1;
  height: calc(var(--size) / 2 * 0.02rem);
  width: 0;
  position: fixed;
  right: -100vw;
  bottom: -100vh;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.adm-badge-wrapper {
  display: inline-block;
  position: relative;
}
.adm-badge {
  display: inline-flex;
  vertical-align: middle;
  box-sizing: content-box;
  border-radius: 1rem;
  background-color: var(--color);
  --right: 0;
  --top: 0;
  --color: var(--adm-badge-color, #ff411c);
}
.adm-badge-content {
  color: var(--adm-color-text-light-solid);
  box-sizing: border-box;
  min-width: 0.08rem;
  padding: 0.01rem 0.04rem;
  font-size: var(--adm-font-size-1);
  line-height: 0.12rem;
  white-space: nowrap;
  font-weight: normal;
  text-align: center;
}
.adm-badge-fixed {
  position: absolute;
  right: var(--right);
  top: var(--top);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.adm-badge-dot {
  min-width: 0.1rem;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 0.05rem;
}
.adm-badge-bordered {
  border: solid 0.01rem var(--adm-color-text-light-solid);
}

.adm-button {
  --color: var(--adm-color-text-light-solid);
  --text-color: var(--adm-button-text-color, var(--adm-color-text));
  --background-color: var(--adm-button-background-color, var(--adm-color-background));
  --border-radius: var(--adm-button-border-radius, 4px);
  --border-width: var(--adm-button-border-width, 1px);
  --border-style: var(--adm-button-border-style, solid);
  --border-color: var(--adm-button-border-color, var(--adm-color-border));
  color: var(--text-color);
  background-color: var(--background-color);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  padding: 0.07rem 0.12rem;
  margin: 0;
  font-size: var(--adm-font-size-9);
  line-height: 1.4;
  text-align: center;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: opacity ease 0.15s;
  -webkit-user-select: none;
  user-select: none;
}
.adm-button:focus {
  outline: none;
}
.adm-button::before {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(calc(var(--border-width) * -1), calc(var(--border-width) * -1));
          transform: translate(calc(var(--border-width) * -1), calc(var(--border-width) * -1));
  width: 100%;
  height: 100%;
  background-color: #000;
  border: var(--border-width) var(--border-style) #000;
  border-radius: var(--border-radius);
  opacity: 0;
  content: ' ';
  box-sizing: content-box;
}
.adm-button:active::before {
  opacity: 0.08;
}
.adm-button-default.adm-button-fill-outline {
  --background-color: transparent;
  --border-color: var(--adm-color-text);
}
.adm-button-default.adm-button-fill-none {
  --background-color: transparent;
  --border-width: 0;
}
.adm-button:not(.adm-button-default) {
  --text-color: var(--adm-color-text-light-solid);
  --background-color: var(--color);
  --border-color: var(--color);
}
.adm-button:not(.adm-button-default).adm-button-fill-outline {
  --text-color: var(--color);
  --background-color: transparent;
}
.adm-button:not(.adm-button-default).adm-button-fill-none {
  --text-color: var(--color);
  --background-color: transparent;
  --border-width: 0;
}
.adm-button-primary {
  --color: var(--adm-color-primary);
}
.adm-button-success {
  --color: var(--adm-color-success);
}
.adm-button-danger {
  --color: var(--adm-color-danger);
}
.adm-button-warning {
  --color: var(--adm-color-warning);
}
.adm-button-block {
  display: block;
  width: 100%;
}
.adm-button-disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.adm-button-disabled:active::before {
  display: none;
}
.adm-button.adm-button-mini {
  padding-top: 0.03rem;
  padding-bottom: 0.03rem;
  font-size: var(--adm-font-size-main);
}
.adm-button.adm-button-mini.adm-button-shape-rounded {
  padding-left: 0.09rem;
  padding-right: 0.09rem;
}
.adm-button.adm-button-small {
  padding-top: 0.03rem;
  padding-bottom: 0.03rem;
  font-size: var(--adm-font-size-7);
}
.adm-button.adm-button-large {
  padding-top: 0.11rem;
  padding-bottom: 0.11rem;
  font-size: var(--adm-font-size-10);
}
.adm-button.adm-button-shape-rounded {
  --border-radius: 10rem;
}
.adm-button.adm-button-shape-rectangular {
  --border-radius: 0;
}
.adm-button-loading {
  vertical-align: bottom;
}
.adm-button-loading-wrapper {
  display: flex;
  height: 1.4em;
  align-items: center;
  justify-content: center;
}
.adm-button-loading-wrapper > .adm-loading {
  opacity: 0.6;
}

.adm-dot-loading {
  display: inline-block;
}

.adm-nav-bar {
  --height: 0.45rem;
  --border-bottom: none;
  display: flex;
  align-items: center;
  height: var(--height);
  border-bottom: var(--border-bottom);
  padding: 0 0.12rem;
  white-space: nowrap;
}
.adm-nav-bar-left,
.adm-nav-bar-right {
  flex: 1;
}
.adm-nav-bar-title {
  flex: auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.adm-nav-bar-back {
  display: flex;
  align-items: center;
  margin-right: 0.16rem;
  padding: 0.06rem 0;
  cursor: pointer;
}
.adm-nav-bar-back-arrow {
  font-size: 0.24rem;
  margin-right: 0.04rem;
}
.adm-nav-bar-left {
  font-size: var(--adm-font-size-7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.adm-nav-bar-title {
  justify-content: center;
  white-space: nowrap;
  font-size: var(--adm-font-size-10);
  padding: 0 0.12rem;
}
.adm-nav-bar-right {
  text-align: right;
}

.adm-tab-bar-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-height: 0.48rem;
}
.adm-tab-bar-item {
  flex: 1;
  color: var(--adm-color-text-secondary);
  white-space: nowrap;
  padding: 0.04rem 0.08rem;
  width: -webkit-min-content;
  width: min-content;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.adm-tab-bar-item-icon {
  font-size: 0.24rem;
  height: 0.24rem;
  line-height: 1;
}
.adm-tab-bar-item-title {
  font-size: var(--adm-font-size-2);
  line-height: 0.15rem;
}
.adm-tab-bar-item-title-with-icon {
  margin-top: 0.02rem;
}
.adm-tab-bar-item-active {
  color: var(--adm-color-primary);
}
.adm-tab-bar-icon-badge {
  --top: 0.06rem;
}
.adm-tab-bar-title-badge {
  --right: -0.02rem;
  --top: -0.02rem;
}

.adm-safe-area {
  --multiple: var(--adm-safe-area-multiple, 1);
  display: block;
  width: 100%;
}
.adm-safe-area-position-top {
  padding-top: calc(env(safe-area-inset-top) * var(--multiple));
}
.adm-safe-area-position-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
}

