
.basic-layout-n4SqL {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.basic-layout-n4SqL .right-DzEXi {
  position: relative;
}
.basic-layout-n4SqL .right-DzEXi .top-CyqwH {
  box-shadow: 0 0.01rem 0.04rem rgba(0, 21, 41, 0.08);
  background-color: white;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basic-layout-n4SqL .right-DzEXi .top-CyqwH .t-left-p9weZ {
  display: flex;
  align-items: center;
}
.basic-layout-n4SqL .right-DzEXi .top-CyqwH .t-left-p9weZ .btn-BYJJj {
  color: #000;
}
.basic-layout-n4SqL .right-DzEXi .top-CyqwH .user-XotqS {
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
}
.basic-layout-n4SqL .right-DzEXi .top-CyqwH .user-XotqS .info-G6Dne {
  display: inline-block;
  line-height: 0.2rem;
  font-size: 0.14rem;
  color: #999999;
}
.basic-layout-n4SqL .right-DzEXi .content-aOYYc {
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.drawer-comp-nkgn6 .ant-drawer-body {
  padding: 0!important;
  background: #2b2f3a;
}

.sidebar-logo-container-vqNh2 {
  position: relative;
  width: 100%;
  height: 0.64rem;
  line-height: 0.64rem;
  background: #2b2f3a;
  text-align: center;
  overflow: hidden;
}
.sidebar-logo-container-vqNh2 .sidebar-logo-PaCuC {
  width: 0.6rem;
  -webkit-animation: sidebar-logo-spin-Iz2zn infinite 10s linear;
          animation: sidebar-logo-spin-Iz2zn infinite 10s linear;
}
.sidebar-logo-container-vqNh2 .sidebar-title-bN2q3 {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-weight: 600;
  line-height: 0.5rem;
  font-size: 0.14rem;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
@-webkit-keyframes sidebar-logo-spin-Iz2zn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes sidebar-logo-spin-Iz2zn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
ul,
li,
select {
  margin: 0;
  padding: 0;
}
input {
  font-size: inherit;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
html {
  font-family: -apple-system, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
body {
  font-size: 0.14rem;
}
* {
  box-sizing: border-box;
}

