{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "corejs": "^3.8.3"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "webpack-dynamic-import",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose" : true
    }]

  ]
}
