.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  font-size: .3rem;
  .btn {
    cursor: pointer;
    user-select: none;
    height: 1rem;
    border: 1px solid red;
    width: 2rem;
    line-height: 1rem;
    text-align: center;
    border-radius: .2rem;
  }

}
