.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url(../../assets/o_micon.png), auto;

  .content {
    width: 3.5rem;
    height: .8rem;
    display: flex;


    .add, .minus {
      width: .8rem;
      height: .8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      text-align: center;
      font-size: .7rem;
      user-select: none;
      line-height: .7rem;
      background: burlywood;
      color: white;
      box-shadow: 0 0 .05rem forestgreen;
      -webkit-tap-highlight-color: transparent;
    }

    .num {
      flex: 1;
      text-align: center;
      font-size: .4rem;
      line-height: .8rem;
      color: blueviolet;

    }


  }
}
