.basic-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .right {
        width: 0;
        // flex: 1;
        position: relative;
        //display: flex;
        //flex-direction: column;
        .top {
            box-shadow: 0 0.01rem 0.04rem rgb(0 21 41 / 8%);
            background-color: white;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            height: .5rem;
           
            .t-left {
                display: flex;
                align-items: center;
                .btn {
                    margin-top: .04rem;
                    color:#000;
                    .menu-btn {
                        font-size: .18rem;
                    }
                }

            }
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user {
                margin-right: .2rem;
                display: flex;
                align-items: center;
                .info {
                    display: inline-block;
                    border-right: .02rem solid #EBEEF5;
                    line-height: .2rem;
                    font-size: .14rem;
                    color: #999999;
                    padding-right: .1rem;
                    margin-right: .1rem;
                }
            }
        }
        .content {
            position: absolute;
            top: .5rem;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: auto;
        }
    }
}
